:root {
    --White: #fff;
    --Primary-Green: #92C745;
    --Secondary-Green: #5E980A;
    --Mid-Green: #CDE0AD;
    --light-Green: #F4F9EC;
    --Primary-Blue: #0058A3;
    --Secondary-Blue: #013B6A;
    --Link-Blue: #0058FF; 
    --Light-Blue: #F7F9FC;
    --Sky-Blue: #C4E4FF;
    --Lavender: #E6E9F4;
    --Ghost-White: #F5F6FA;
    --Highlighter: #F0142F;
    --Rust-Orange: #DC6200;
    --Secondary-Orange: #FEA304;
    --Black: #010101;
    --Cloud-Burst: #354052;
    --dark-gray: #5D5D5D;
    --Spanish-Gray: #9A9A9A;
    --mid-gray: #CECECE;
    --Light-Gray: #E5E5E5;
    --White-Smoke: #EFEFEF;
    --othercolor1: #2c9dfd;
    --othercolor2: #ca942e;
    --othercolor3: #676aa1;
    --othercolor4: #00605e;
    --othercolor5: #909326;
    --othercolor6: #1d9c38;
    --othercolor7: #3892b0;
    --othercolor8: #581c8f;
    --othercolor9: #95C4C8;
    --othercolor10: #9395D1;
    --othercolor11: #93C392;
    --othercolor12: #C89CC6;
    --othercolor13: #658FCC;
    --othercolor14: #5BC3C9;
    --othercolor15: #CFC454;
    --othercolor16: #FDC400;
    --othercolor17: #96BF1A;
    --othercolor18:#E7EDF6;
  }