@import "_variables.scss";

//@extend-elements
//original selectors
//.sidebar-menu-header, .sidebar-menu-header-mini
%extend_1 {
    padding-left: 16px;
    float: left;
    font-size: 1.5em;
    font-weight: 900;
}

//original selectors
//.sidebar-menu .sidebar-menu-header-mini, .sidebar-menu-header-mini
%extend_2 {
    width: 100%;
    font-size: 1.1em;
    display: none;
    text-align: center;
    padding-left: 0;
}

//original selectors
//.sidebar-menu >ul >li.active >a, .sidebar-menu >ul >li.active >a:hover
%extend_3 {
    color: $white;
    background: $ec-blue-normal;
    /*border-left-color: $light-blue;*/
}

//original selectors
//.sidebar-menu ul ul.submenu, .sidebar-menu ul ul.submenu li ul.submenu
%extend_4 {
    width: 100%;
    display: none;
    position: static;
}

//original selectors
//.sidebar-menu ul li .sidebar-menu-label, .sidebar-menu ul ul.submenu li .sidebar-menu-label
%extend_5 {
    min-width: 16px;
    width: 17px;
    height: 17px;
    padding: 2px;
    position: absolute;
    right: 6px;
    top: 3px;
    color: $white;
    text-align: center;
    line-height: 16px;
    background: $iron;
    border-radius: 100%;
}

//original selectors
//.sidebar-menu.collapsed >ul.submenu, .sidebar-menu.collapsed ul.submenu
%extend_6 {
    position: fixed;
    width: 220px;
    max-width: 350px;
    box-shadow: 6px 6px 8px 1px $mountain_mist;
    border-top: 1px solid $silver;
    border-right: 1px solid $gallery;
    border-bottom: 1px solid $iron;
    z-index: 9;
    left: 50px;
    margin-top: 0;
    display: none;
}
/*.sidebar-menu-wrapper {
	height: 100%;
	overflow: hidden;
	box-shadow: 0 5px 10px 6px $mountain_mist;
	float: left;
	margin-right: 12px;
	border-right: 1px solid $iron;
}*/

.sidebar-menu {
    box-sizing: border-box;
    outline: 0;
    min-width: 42px;
    min-height: 90px;
    width: 100%;
    /*overflow-y: auto;
	overflow-x: hidden;
	float: left;
	position: relative;*/
    * {
        box-sizing: border-box;
        outline: 0;
    }

    .sidebar-menu-header-mini {
        @extend %extend_2;
    }

    &.collapsed {
        min-width: 50px;
        width: 52px;

        .sidebar-menu-footer {
            display: none;
        }

        .sidebar-menu-header {
            display: none;
        }

        .sidebar-menu-header-mini {
            display: block;
        }

        ul {
            li {
                a {
                    padding-left: 10px;
                    font-size: 0;

                    i {
                        line-height: 17px;
                        font-size: 16px;
                    }

                    &.submenu-indicator-minus {
                        background: #f5f5f5;
                    }
                }

                &.workflow a {
                    padding-left: 6px;
                }
            }

            &.submenu {
                @extend %extend_6;
            }

            ul.submenu li ul.submenu {
                display: block;
            }
        }

        > ul {
            > li {
                .sidebar-menu-label {
                    display: none;
                }

                &.subactive > a {
                    border-left-color: $ec-blue-normal;
                }
            }

            .submenu-indicator {
                display: none;
            }

            &.submenu {
                @extend %extend_6;
            }

            ul .submenu-indicator {
                display: block;
                margin-top: -16px;
            }
        }

        li:hover > ul.submenu {
            display: block;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            width: 100%;
            display: block;
            float: left;
            position: relative;

            a {
                width: 100%;
                padding: 3px 46px 3px 4px;
                float: left;
                text-decoration: none;
                color: $oil;
                font-size: 13px;
                background: $sidebar-bg-common;
                position: relative;
                overflow: hidden;
                border-bottom: 1px solid $sidebar-border-bottom;
                border-left: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: color .2s linear,background .2s linear;

                i {
                    width: 20px;
                    float: left;
                    text-align: center;
                    line-height: 15px;
                    font-size: 15px;
                    color: $oil;

                    &.ion {
                        font-size: 1.45em;
                    }

                    i.icon {
                        font-size: 1.15em !important;
                    }
                }

                &.submenu-indicator-minus {
                    background: $ghost;
                }

                &:hover i {
                    color: $ec-blue-normal;
                    transition: color .2s linear;
                }
            }

            &.disabled, &:disabled {
                > a {
                    color: $base;
                    cursor: default;

                    &:hover {
                        color: $base;
                    }

                    i {
                        color: $base;
                    }
                }

                > .sidebar-menu-label {
                    opacity: 0.3;
                }
            }

            .sidebar-menu-label {
                @extend %extend_5;
            }

            &.active {
                a {
                    i {
                        color: #fff;
                    }
                }
            }

            &.workflow {
                padding-left: 0;
                /*border-left: 4px solid $ec-blue-normal;*/
                > a {
                    /*background: $ghost;
					border-bottom-color: $sea-mist;*/
                }

                a {
                    &.active {
                        border-left-color: transparent;
                    }

                    &:hover {
                        border-left-color: transparent;
                        background: $gallery;

                        i {
                            color: $ec-blue-normal;
                        }
                    }

                    i {
                        color: $limed-ash;
                    }
                }

                ul.submenu {
                    a {
                        i {
                            color: $limed-ash;
                        }

                        &:hover {
                            background: $gallery;

                            i {
                                color: $ec-blue-normal;
                            }
                        }
                    }

                    li a {
                        /*background: $harp;
						border-bottom-color: $sea-mist;
						color: $tuatara;*/
                    }
                }

                &.active {
                    > a {
                        color: $white;

                        i {
                            color: $white;
                        }
                    }
                }

                &.disabled {
                    > a {
                        color: $base;
                        cursor: default;

                        i {
                            color: $base;
                        }

                        &:hover {
                            color: $base;
                        }
                    }

                    > .sidebar-menu-label {
                        opacity: 0.3;
                    }
                }
            }
        }

        &.submenu {
            &.active {
                display: block;
            }

            li {
                a:hover {
                    background: $silver;
                    color: $oil;
                }

                &.active a {
                    background: $ec-blue-normal;
                    color: $white;
                    font-weight: 700;

                    &:hover {
                        background: $ec-blue-normal !important;
                        color: $white !important;
                    }

                    i {
                        color: $white !important;
                    }
                }

                &.disabled {
                    > a {
                        color: $base;
                        cursor: default;

                        i {
                            color: $base;
                        }

                        &:hover {
                            color: $base;
                        }
                    }

                    > .sidebar-menu-label {
                        opacity: 0.3;
                    }
                }
            }
        }

        ul.submenu {
            @extend %extend_4;

            .submenu-indicator {
                line-height: 16px;
            }

            li {
                clear: both;
                width: 100%;

                a {
                    width: 100%;
                    float: left;
                    font-size: 13px;
                    background: $sidebar-bg-common;
                    position: relative;
                    /*border-left: solid 6px transparent;*/
                    border-bottom: 1px solid $sidebar-border-bottom;
                    transition: border .2s linear;
                    border-left: 0;

                    i {
                        color: $oil;
                    }

                    &:hover {
                        color: $black;
                        background: $gallery;

                        i {
                            color: $ec-blue-normal;
                        }
                    }
                }

                .sidebar-menu-label {
                    @extend %extend_5;
                    top: 3px;
                }

                ul.submenu {
                    @extend %extend_4;
                }

                &.active a i {
                    color: $white;
                }
            }

            > li {
                > a {
                    padding-left: 22px;
                    color: $oil;
                }

                > ul.submenu > li {
                    > a {
                        padding-left: 30px;
                    }

                    > ul.submenu > li > a {
                        padding-left: 40px;
                    }
                }
            }

            ul.submenu {
                a {
                    background-color: $ghost;
                }

                li.active a {
                    background-color: $ec-blue-normal;
                }
            }
        }
    }

    .submenu-indicator {
        float: right;
        right: 11px;
        position: absolute;
        line-height: 17px;
        font-size: 18px;
        color: $charcoal;
    }

    .sidebar-menu-header-collapse > a {
        width: 100%;
        line-height: 32px;
    }

    > ul > li {
        > a:hover {
            color: $black;
            background: $gallery;
        }

        &.active {
            > a {
                @extend %extend_3;

                &:hover {
                    @extend %extend_3;
                }
            }

            > a.submenu-indicator-minus {
                background: $ec-blue-normal;
            }
        }
    }

    .submenu-indicator-minus > .submenu-indicator {
        transform: rotate(45deg);
    }

    .workflow ul.submenu li.active a {
        /*border-left-color: $ec-blue-normal;*/
        background: $workflow-bg-selected;
        color: $workflow-color-selected;
        font-weight: 700;

        i {
            color: $workflow-color-selected;
        }
    }
}

.sidebar-menu.no-desc {
    ul {
        li {
            a {
                padding-right: 26px;
            }
        }
    }
}

.sidebar-menu.sidebar-no-borders {
    ul li a {
            background: $white;
            border-bottom: 1px solid $white;
        }

    ul.submenu li a {
        background: $white;
        border-bottom: 1px solid $white;
    }

   .active a, .submenu .active a {
        background: $ec-blue-normal;
    }

    a:hover, .submenu a:hover {
        background: $gallery;
    }
}

.sidebar-menu > ul > li.active.workflow {
    > a {
        &:hover {
            color: #ffffff;
            background: $ec-blue-normal;

            icon {
                color: $white !important;
            }
        }
    }
}

.sidebar-menu-header {
    @extend %extend_1;
}

.sidebar-menu-header-mini {
    @extend %extend_1;
    @extend %extend_2;
}

.sidebar-menu-footer-wrapper {
    /*float: left;*/
    /*display: inline-block;*/
    text-align: left;

    i {
        float: left;
        font-size: 14px;
        padding-right: 3px;
        line-height: 19px;
    }

    a.actions {
        color: $footer-color-link;

        &:hover {
            opacity: 1;
            color: $footer-color-hover;
            span {
                text-decoration: underline;
            }
        }
    }

    .actions span.sidebar-menu-footer {
        /*text-decoration: none;*/
        /*border-bottom: 1px dotted $white;*/
        line-height: 19px;
        margin-right: 1ex;
    }
}

/*.hover_white {
    opacity: 0.75;
}

.hover_white:hover {
    opacity: 1.0;
    color: $white;
}*/

.sidebar-menu-footer {
    float: left;
    font-size: 1.1em;
    font-weight: 400;
    overflow: hidden;
    /*padding: 2px 10px 0 0;*/
}

.sidebar-menu-option {

    position:absolute;
    font-size: 0.7rem;
    bottom:0px; 
    white-space:nowrap; 
    margin-right:10px; 
    padding: 4px 15px 3px 6px; 
    color: $charcoal;

    i {
        margin-right: 2px;
    }

    a {
        color: $charcoal;
        &:hover {
            color: $ec-blue-normal;
        }
    }
}

.sidebar-menu-pinner {
    padding: 2px 6px;
    border-bottom: 1px solid $white-smoke;
    text-align: right;
    font-size: 12px;
    background: $ghost !important;
    transition: background-color 0.33s ease-out, color 0.33s ease-out;
}

.sidebar-menu-pinner-btn {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 21px;
    background-color: transparent;

    &:hover {
        background-color: #d2eaff;
    }

}

.sidebar-menu-nowrap {
        white-space: normal !important;
        text-overflow: !important;
    }


.pinned {
    color: $ec-blue-normal;
    &:hover, &:hover a {
        color: $ec-blue-dark;
    }
}

.unpinned {
    padding-right: 1px;
    color: $jumbo;
    transform: rotate(45deg);
    &:hover, &:hover a {
        color: $ec-blue-normal;
    }
}
.no-pinner, .no-pinner a {
    opacity: 0;
    height: 4px;
    cursor: default;
}

.nopinner .sidebar-menu-pinner-btn, .nopinner .sidebar-menu-pinner-btn:hover {
    background-color: transparent !important;
}

#optAdvanced {
    display: inline-block; 
    float: left;
    /*margin: -3px 1ex 0px 1ex;*/

    /*i {
        font-size: 18px;
    }*/

    a.actions span, a.actions span:hover {
        text-decoration: none;
        border-bottom: none;
    }
}

#iconAdvanced {
    font-size: 18px;
}

#iconHasAdvanced {
    margin-top: 1px;
    cursor: help; 
    display: inline-block;
}

.flip-h {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}


.flip-v {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

#divGoTop, #divGoBack {
    display: inline-block; 
    float: left; 
    text-align: center; 
    width: 21px; 
    padding: 5px 4px 0px 4px;
    font-size: 16px;
    line-height: 24px;
    background: $alabster;
    color: $workflow-color-default;
    height: 24px;
    vertical-align: baseline;
    border-right: 1px solid $gainsboro;
    transition: background-color 0.33s ease-out, color 0.33s ease-out;

    &:hover {
        background: $workflow-bg-hover;
        color: $workflow-color-hover;
    }
}

#divCurPageName {
    display: inline-block; 
    float: left; 
    text-align: center; 
    max-width: 15em; 
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 1em;
    background: $saltpan;
    color: $ec-green-dark;
    border-right: 1px solid $gainsboro;
}

.collapsed {
    .sidebar-menu-header {
        display: none;
    }

    .sidebar-menu-footer {
        display: none;
    }

    .sidebar-menu-header-mini {
        display: block;
    }

    &.tdFooter {
        padding-left: 5px;
        padding-right: 5px;
    }

    .sidebar-menu-footer-wrapper i {
        font-size: 13px;
        margin-right: 2px;
    }

    .nav_desc {
        display: none;
    }
}

.menu-ink {
    display: block;
    position: absolute;
    background: $danube;
    border-radius: 100%;
    transform: scale(0);
}

.animate-menu-ink {
    animation: ripple .5s linear;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.menu-margin {
}

.menu-group {
    height: 8px;
    background: $silver;
    border-bottom: 1px solid $ghost;
}

.sidebar-menu-header-collapse > a {
    /*padding-top: 5px;*/
    float: left;
    text-decoration: none;
    font-size: 24px;
    color: $mariner;
    background: $white;
    border-bottom: 1px solid $silver;
    border-top: 1px solid transparent;
    overflow: hidden;
    vertical-align: central;

    &:hover {
        color: $ec-blue-lite;
        background: $gallery;
        border-top: 1px solid $mercury;
    }
}

.nav_desc {
    position: absolute;
    right: 26px;
    top: 7px;
    padding-left: 2px;
    /*float: right; 
    margin:3px 6px 0px 0px;*/
    color: $aluminum;
    font-size: 6pt;
    font-weight: normal !important;
    font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;

    &.collapsed {
        display: none;
    }
}

.active > a > .nav_desc {
    color: $smoke;
}


// =================== workflow ======================

#trWorkflow {
    height: 26px;
    box-sizing: border-box;
    /*border-top: $workflow-border-top;
    border-bottom: $workflow-border-bottom;
    background: $workflow-bg-empty;*/
}

#tdWorkflow {
    border-top: $workflow-border-top;
    border-bottom: $workflow-border-bottom;
    background: $workflow-bg-empty;
}

#workflow {
    padding: 0px;
    margin: 0px;
    height: 26px;
    min-width: $page_min_width;
    line-height: 26px; /* line-height MUST be the same as height */
    list-style-type: none;
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
    overflow: hidden;
    /*background: $workflow-bg-empty;*/
    /*text-transform: uppercase;*/

    .project_actions {
        position:absolute; 
        right: 12px;
        white-space: nowrap;
        line-height: 24px;
        padding-top: 1px;

        .prj_action {
            padding: 0px 4px;
            display: inline-block;
            /*text-align: center;*/
            margin-left: 3px;
            vertical-align: middle;
            min-width: 16px;
            height: 24px;
            border-radius: 3px;

            &:hover {
                background: $workflow-bg-hover;
            }

            &.disabled:hover {
                background-color: transparent;
            }
        }

        a {
            text-decoration:none;
            i {
                font-size: 15px;
                color: $ec-blue-normal;
                line-height: 25px;
                float: left;

            }

            i.ion {
                font-size: 18px;
                line-height: 26px;
                padding-top: 3px;
            }

            span {
                font-weight: bold;
                margin-left: 3px;
                line-height: 25px;
                color: $ec-blue-normal;
            }

            /*&:hover {
                 i, span {
                    color: $workflow-color-hover;
                }
            }*/
        }
    }
}

#workflow.workflow-no-arrows {
    background: $workflow-bg-odd;

    .project_actions .prj_action {
        &:not(.disabled):hover {
            i, span {
                color: $workflow-color-hover;
            }
        }

        a {
            /*padding: 0px 2px;*/
            i {
                color: $workflow-color-default;
            }

            i:hover, span:hover {
                transition: color .5s linear, background .5s linear;
            }

            span {
                font-weight: bold;
                /*padding: 0px 3px;*/
            }
        }
    }
}

#workflow li {
    /*float: left;*/ /*ie6/7 needs this */
    background: $workflow-bg-even;
    height: 26px;
    display: inline-block;
    position: relative;
    /*padding-left: 1px;*/
    border-right: $workflow-border-right;

    > span {
        float: left;
        position: relative;
        padding: 0 20px 0 10px;
        color: $iron;
        font-weight: bold;
        font-size: 110%;
    }

    a {
        float: left;
        position: relative;
        padding: 0 20px 0 10px;
        color: $workflow-color-default;
        text-decoration: none;
        outline: none;
        font-weight: bold;
        font-size: 110%;

        /*&:hover {
            transition: color .5s linear,background .5s linear,border .5s linear;
        }*/

        &:disabled, &.disabled {
            color: $iron;
            &:hover, &.hover {
                color: $iron;
                background-color: transparent !important;
                cursor: default;
            }
        }
    }

    /*a, span {
        text-transform: uppercase;
    }*/
}

#workflow.upper .workflow-item-label{
    text-transform: uppercase;
}

#workflow.workflow-no-arrows li {
    background: $workflow-bg-odd;
    a, >span {
        padding: 0px 6px 0px 8px;
    }
}

#workflow li a:hover {
    text-decoration: underline;
}

#workflow li a.odd, #workflow li span.odd {
    background: $workflow-bg-odd;
}

#workflow .arrow {
    position: absolute;
    display: block;
    line-height: 0px;
    height: 0px;
    width: 0px;
    right: 0px;
    top: 0px;
    border-left: 10px solid $workflow-bg-even;
    border-right: none;
    border-top: 13px solid $workflow-bg-odd;
    border-bottom: 13px solid $workflow-bg-odd;
}

#workflow.workflow-no-arrows .arrow {
    display: none;
}

#workflow li a.odd .arrow, #workflow li span.odd .arrow {
    border-left: 10px solid $workflow-bg-odd;
    border-top: 13px solid $workflow-bg-even;
    border-bottom: 13px solid $workflow-bg-even;
}


#workflow li a.hover {
    text-decoration: none;
    color: $workflow-color-hover;
    background: $workflow-bg-hover;
}

#workflow.workflow-no-arrows li a.hover {
    color: $workflow-color-hover;
    background: $workflow-bg-hover;
    /*border-radius: 6px;*/
    &:before {
        color: $workflow-color-default;
    }

}

#workflow li a .arrow.hover {
    border-left: 10px solid $workflow-bg-hover;
}

#workflow li a .arrow.pre_hover, #workflow li span .arrow.pre_hover {
    border-top: 13px solid $workflow-bg-hover;
    border-bottom: 13px solid $workflow-bg-hover;
}

#workflow li a.selected, #workflow li span.selected {
    text-decoration: none;
    color: $workflow-color-selected;
    background: $workflow-bg-selected;

     &:before {
        content: "\25b2";
        position: absolute;
        bottom: -12px;
        width: 100%;
        height: 100%;
        z-index: 100;
        text-align: center;
        color: $workflow-color-selected;
    }
}

#workflow li a .arrow.selected, #workflow li span .arrow.selected {
    border-left: 10px solid $workflow-bg-selected;
}

#workflow li a .arrow.pre_selected, #workflow li span .arrow.pre_selected {
    border-top: 13px solid $workflow-bg-selected;
    border-bottom: 13px solid $workflow-bg-selected;
}

#workflow li a .arrow.last, #workflow li span .arrow.last {
    border-top: 13px solid $workflow-bg-empty;
    border-bottom: 13px solid $workflow-bg-empty;
}

#workflow li a .workflow-chevron, #workflow li span .workflow-chevron {
    display: none;
}

#workflow.workflow-no-icons {

     li a > i:not(.plist), li span > i:not(.plist) {
        display: none;
    }

    li a .workflow-chevron, li span span.workflow-chevron {
        display: inline-block;
    }
}

span.menu_new {
    margin-left: 3px;

    i.fa, i.fas, i.far {
        font-size: 15px;
        color: $ec-red-hover;
        z-index: 9;
    }

    span {
        color: $ghost;
        font-size: 10px;
        font-weight: bold;
        margin-top: -1px;
        margin-left: -11px;
        opacity: 1;
        z-index: 99;
        display: inline-block;
        position: absolute;
    }
}

span.menu_new.sidebar-menu-label {
    span {
        left: 17px;
        top: 3px;
    }
}


// --- media queries ---

@media only screen and (max-width: 1250px) {
    #workflow li a > i:not(.plist), #workflow li span > i:not(.plist) {
        display: none;
    }
    #divCurPageName {
        max-width: 12em;
    }
    #workflow li span.menu_new {
        i.fa, i.fas, i.far {
            display: inline-block;
        }
    }
}

@media only screen and (max-width: 1100px) {
    #workflow.workflow-no-icons li a .workflow-chevron, #workflow.workflow-no-icons li >span span.workflow-chevron  {
        display: none;
    }

    #workflow.upper {
        a, span {
            text-transform: initial !important;
        }
    }
    #divCurPageName {
        max-width: 9em;
    }

}

@media only screen and (max-width: 950px) {
    #workflow li a, #workflow li span  {
        font-size: 105%;

    }

    #workflow li {
        a, span {
            text-transform: none !important;
        }
    }

    span.menu_new {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    .prj_action.nowide900 {
        display: none;
    }
}

@media only screen and (max-width: 850px) {

    #trWorkflow {
        height: 22px;
    }

    #workflow {
        height: 22px;
        line-height: 22px; /* line-height MUST be the same as height */

        .project_actions {
            line-height: 20px;

            .prj_action {
                height: 22px;
                /*width: 24px;
                margin-left: 2px;*/
                border-radius: 2px;
                line-height: 24px;

                /*&:hover {
                    background: $sea-mist;
                }*/
            }

            .prj_action.nowide800 {
                display: none;
            }


            a, span {
                i {
                    font-size: 14px;
                }
                i.ion {
                    font-size: 17px;
                    line-height: 24px;
                }
            }
        }

    }

    #workflow li {
        height: 22px;

        span.menu_new {
            display: none;
        }
    }

    #workflow li a, #workflow li >span {
        font-size: 100%;
        font-weight: bold;
        padding: 0px 15px 0px 6px;
        .workflow-item-label {
            max-width: 100px;
            text-overflow: ellipsis;
        }
    }

    .sidebar-menu ul li a {
        /*padding: 2px 46px 2px 4px;*/
        font-size: 12px;

        i {
            line-height: 13px;
            font-size: 13px;
        }
    }

    #divCurPageName {
        display: none;
    }

    #iconAdvanced {
        margin-top: 3px;
        font-size: 16px;
    }

    #iconHasAdvanced {
        margin-top: 1px;
    }

    /*.sidebar-menu-footer-wrapper i {
        font-size: 12px;
        line-height: 16px;
    }*/
}

@media only screen and (max-width: 750px) {
    #workflow li a {
        font-size: 97%;
        font-weight: bold;
        padding: 1px 12px 1px 2px;
    }

    .sidebar-menu-footer-wrapper i {
        font-size: 0.8rem;
    }

    #iconAdvanced {
        margin-top: 1px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 700px) {
    /*#workflow li a, #workflow li span {
        font-size: 96%;
        font-weight: normal;
        padding: 1px 12px 1px 1px;

        .workflow-item-label {
            max-width: 75px;
        }
    }
}

@media only screen and (max-width: 580px) {*/
    #workflow li a, #workflow li span {
        font-size: 100%;
        padding: 1px 14px 1px 8px;

        &:before {
            content: "";
            display: none;
        }

        .workflow-item-label {
            display: none;
        }
    }

    #workflow li a > i:not(.plist), #workflow.workflow-no-icons li a > i:not(.plist), #workflow li span > i:not(.plist), #workflow.workflow-no-icons li span > i:not(.plist) {
        display: inline-block;
    }

    #iconHasAdvanced {
        display: none;
    }

}

@media only screen and (max-width: 340px) {
    .project_actions {
        display: none;
    }
}