$icomoon-font-family: "ecfont" !default;
$icomoon-font-path: "fonts" !default;

$ec-hierarchy: "\e90b";
$ec-alts: "\e900";
$ec-chart-sunburst: "\e908";
$ec-chart-pie: "\e906";
$ec-chart-donut: "\e903";
$ec-chart-columns: "\e901";
$ec-chart-components: "\e902";
$ec-chart-stacked: "\e907";
$ec-chart-labels: "\e917";
$ec-chart-legend: "\e918";
$ec-chart-rotate-ccw: "\e919";
$ec-chart-rotate-cw: "\e91a";
$ec-font-dec: "\e905";
$ec-font-inc: "\e904";
$ec-sort-none: "\e91b";
$ec-sort-az: "\e91c";
$ec-sort-val: "\e91d";
$ec-sa-dsa: "\e90f";
$ec-sa-psa: "\e910";
$ec-sa-gsa: "\e911";
$ec-sa-2d: "\e912";
$ec-sa-hth: "\e913";
$ec-sa-asa: "\e914";
$ec-sa-mixed: "\e915";
$ec-grid: "\e90a";
$ec-datagrid: "\e916";
$ec-contribution: "\e91e";
$ec-link: "\e91f";
$ec-eval-progress: "\e909";
$ec-survey: "\e90c";
$ec-mail: "\e90d";
$ec-send-mail: "\e90e";
$ec-single-row: "\e920";
$ec-multi-row: "\e921";
$ec-group-users: "\e922";
$ec-group-nodes: "\e923";

