<!--<div class="row collapse tt-2-cols">-->

    <!-- start tt-collect-input-wrap -->
<!--    <div class="large-12 columns tt-collect-input-wrap">-->
        <div class="large-6 large-centered text-center columns">
            <div class="panel cta">
                <h1 class="title">What is Collect Input?</h1>
                <div>
                    After structuring a hierarchy of objectives and identifying alternatives, priorities are derived for relative importance of the objectives as well as the relative preference of the alternatives with respect to the objectives. If you have more questions, please visit our <a href="#">HELP SECTION</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <section class="large-12 columns">
                    <div class="columns tt-header-nav blue-header"><a href="/Pages/evaluation-progress.aspx">Evalutation Progress</a> <a href="#" data-dropdown="help-dd" aria-controls="moreActions-dd" aria-expanded="false"><span class="icon-tt-info-circle"></span></a></div>
                    <div class="large-12 columns">
                        <div class="panel columns tt-panel-content">
                            <div class="medium-6 columns medium-text-left small-text-center">
                                Overall Evalutation Progress
                            </div>
                            <div class="medium-6 columns">
                                <div class="nice radius success progress">
                                    <span class="meter" style="width: 50%"><span class="text">50%</span></span>
                                </div>
                            </div>
                            <div class="large-12 columns medium-text-left small-text-center">
                                <a href="#" ng-click="changePage(collectInputPages.datagrid)">View Data Grid</a>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="medium-6 columns medium-text-left small-text-center">
                                Evaluation Type:
                            </div>
                            <div class="medium-6 columns">
                                <select class="full-width">
                                    <option>-select-</option>
                                    <option>test 1</option>
                                    <option>test 2</option>
                                    <option>test 3</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="columns">
                            <div class="medium-6 columns medium-text-left small-text-center">
                                Meeting Status:
                            </div>
                            <div class="medium-6 columns">
                                <div class="row">
                                    <div class="medium-6 columns text-center">
                                        <span class="meeting-status">In Progress</span>
                                    </div>
                                    <div class="medium-6 columns text-center">
                                        <a href="#" class="button tiny tt-button-primary">Stop Session</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="large-12 columns setup-meeting-wrap">
                    <div class="columns tt-header-nav blue-header"><a href="#">Collect My Input</a> <a href="#" data-dropdown="help-dd" aria-controls="moreActions-dd" aria-expanded="false"><span class="icon-tt-info-circle"></span></a></div>
                    <div class="columns icons-wrap">
                        <div class="medium-4 columns text-center">
                            <a href="#" class="">
                                <span class="icon icon-tt-calendar-settings columns"></span>
                                <span class="text columns">Start Meeting Options</span>
                            </a>
                        </div>
                        <div class="medium-4 columns text-center">
                            <a href="#" class="">
                                <span class="icon icon-tt-list-edit columns"></span>
                                <span class="text columns">Select Measurement Types</span>
                            </a>
                        </div>
                        <div class="medium-4 columns text-center">
                            <a href="#" class="">
                                <span class="icon icon-tt-users-invite columns"></span>
                                <span class="text columns">Invite Participants</span>
                            </a>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="large-8  columns large-centered text-center">
                            <a href="#" class="button medium tt-button-primary expand">Start Meeting</a>
                        </div>
                    </div>
                </section>

                

            </div>
            <div class="large-6 columns">
                
                <section class="large-12 columns quick-links-wrap">
                    <div class="columns tt-header-nav blue-header"><a href="#">Quick Links</a> <a href="#" data-dropdown="help-dd" aria-controls="moreActions-dd" aria-expanded="false"><span class="icon-tt-info-circle"></span></a></div>
                    <div class="row">
                        <div class="large-12 columns quick-links-single">
                            <h3>Measurement Methods <a href="#" data-dropdown="help-dd" aria-controls="moreActions-dd" aria-expanded="false"><span class="icon-tt-info-circle"></span></a></h3>
                            <ul>
                                <li><a href="#objectivesMeasurement" ng-click="changePage(collectInputPages.objectivesMeasurement)">Objectives</a></li>
                                <li><a href="#alternativesMeasurement" ng-click="changePage(collectInputPages.alternativesMeasurement)" >Alternatives</a></li>
                            </ul>
                        </div>
                        <div class="large-12 columns quick-links-single">
                            <h3>Meeting Options <a href="#" data-dropdown="help-dd" aria-controls="moreActions-dd" aria-expanded="false"><span class="icon-tt-info-circle"></span></a></h3>
                            <ul>
                                <li><a href="#scheduleMeeting" ng-click="changePage(collectInputPages.scheduleMeeting)">Schedule Meeting</a></li>
                                <li><a href="#displaySettings" ng-click="changePage(collectInputPages.displaySettings)">Display Settings</a></li>
                                <li><a href="#selectQuestionnaire" ng-click="changePage(collectInputPages.selectQuestionnaire)">Select Questionaires</a></li>
                            </ul>
                        </div>
                       <div class="large-12 columns quick-links-single">
                            <h3>Meeting Invitation <a href="#" data-dropdown="help-dd" aria-controls="moreActions-dd" aria-expanded="false"><span class="icon-tt-info-circle"></span></a></h3>
                            <ul>
                                <li><a href="#inviteParticipant" ng-click="changePage(collectInputPages.inviteParticipant)">Invite Participants</a></li>
                            </ul>
                        </div>
                           
                            
                    </div>
                </section>
                
            </div>
        </div>



<!--    </div>-->
    <!-- end tt-collect-input-wrap -->




<!--</div>-->