<!--<div class="large-12 columns tt-left-col">-->
   
    <div class="large-12 columns tt-tabs-wrap-results">
        <ul class="tabs" data-tabs>
          <li class="tab-title "><a href="#scheduleMeeting" ng-click="changePage(collectInputPages.scheduleMeeting)">Shedule Meeting</a></li>
          <li class="tab-title "><a href="#displaySettings" ng-click="changePage(collectInputPages.displaySettings)">Display Settings</a></li>
          <li class="tab-title active"><a href="#selectQuestionnaire" ng-click="changePage(collectInputPages.selectQuestionnaire)">Select Questionnaire</a></li>
            
            
          
        </ul>
        <div class="tabs-content">
          <div class="content active" id="head-to-head">
            <div class="row collapse tt-tabs-header-menus">
<!--                Select Questionnaires-->
                  <table class="tt-table-wrap hide-for-medium-down">
                <thead>
                    <tr>
                        <th class="tt-questionnnaires">QUESTIONNAIRES (4)<a><span class="icon-tt-sort-toggle"></span></a></th>
                        <th class="tt-select">SELECT</th>
                        <th class="tt-type">TYPE</th>
                        <th class="tt-last-modified">LAST MODIFIED <a><span class="icon-tt-sort-toggle"></span></a></th>
                        <th class="tt-date-created">DATE CREATED <a><span class="icon-tt-sort-toggle"></span></a></th>
                        <th class=""></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td class="tt-questionnnaires"><a href="#">Sample Question #1</a></td>
                        <td class="tt-select">  <span class="icon-tt-check-circle single-icon active"></span></td>
                        <td class="tt-type">
                            <select>
                                <option selected>Pre-survey</option>
                                <option>Post-survey</option>
                                <option>Pre-Post survey</option>
                            </select>
                        </td>
                        <td class="tt-last-modified">07/12/2016 8:02pm</td>
                        <td class="tt-date-created">07/12/2016 8:02pm</td>
                        <td class="">
                            <button class="button tiny tt-button-icond-left tt-button-primary tt-button-lite-blue left">
                                <span class="text">Preview</span>
                                <span class="icon-tt-search icon"></span>
                            </button>
                        </td>

                    </tr>
                    
                    <tr>

                        <td class="tt-questionnnaires"><a href="#">Sample Question #1</a></td>
                        <td class="tt-select">  <span class="icon-tt-times-circle single-icon inactive"></span></td>
                        <td class="tt-type">
                            <select>
                                <option>Pre-survey</option>
                                <option selected>Post-survey</option>
                                <option>Pre-Post survey</option>
                            </select>
                        </td>
                        <td class="tt-last-modified">07/12/2016 8:02pm</td>
                        <td class="tt-date-created">07/12/2016 8:02pm</td>
                        <td class="">
                            <button class="button tiny tt-button-icond-left tt-button-primary tt-button-lite-blue left">
                                <span class="text">Preview</span>
                                <span class="icon-tt-search icon"></span>
                            </button>
                        </td>

                    </tr>

                </tbody>
            </table>
            </div>
          </div>

        </div>
    </div>



<script>
    $(document).foundation('reflow');
</script>

<!--</div> -->
<!-- tt-left-col-->